<p>
  <%= additionals_settings_checkbox :show_mention_hint %>
  <em class="info"><%= t(:hint_show_mention_hint) %></em></p>
</p>

<p>
  <%= additionals_settings_checkbox :notify_mentions_separately %>
  <em class="info"><%= t(:hint_notify_mentions_separately) %></em></p>
</p>

<p>
  <%= additionals_settings_checkbox :ignore_self_mentions %>
  <em class="info"><%= t(:hint_ignore_self_mentions) %></em></p>
</p>